yelp_dataset/
business_list/
business_list_lasso/
business_list_data/
business_list_lasso_reviewed/
business_list_data_reviewed/
1660 final project extra features - the whole sheet_.csv/
X_formatted/
X_formatted_c/
business_list_data_reviewed/
business_list_lasso_reviewed/
features/
features_c/
review_stats/
y_formatted/
y_formatted_c/